{% extends "base.html.twig" %} 
{% form_theme form 'bootstrap_4_layout.html.twig' %}{# on l a ajouter dans twig (dans config packages twig.yaml) #} {% block title %}Employés{% endblock %} 
{% block body %}
{% if ouvrir %}
    <div class="form row">
        <div class="col-md-3"></div>
        <div class="col-md-6 bor">
            {{ form_start(form)}}
            <div class="row espace">
                {{ form_label(form.Libelle, 'Libelle', {'label_attr': {'class': 'col-2'}}) }} {{form_widget(form.Libelle, {'attr':{'placeholder':'Libelle','class': 'col-9'}}) }}
            </div>
            <div class="row espace">
                <div class="col-4"></div>
                <input type="submit" value="Enregistrer" name="ajouter" class="btn btn-primary col-5 submit">
            </div>
            {{form_end(form)}}
        </div>
    </div>
{% endif %}
<div class="display tableau">
<div class="row">
    <div class="col-10"></div>
    {% if ouvrir == false %}
        <a href="{{path('Form_service',{'ouvrir': true })}}" class="col-2 bAjouter"><button class="btn btn-outline-primary col-12 ">Ajouter</button></a>
    {% else %}
        <a href="{{path('nouv_service')}}" class="col-2 bAjouter"><button class="btn btn-outline-primary col-12">Annuler</button></a>
    {% endif %}
</div>
    <table id="example" class="display table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Employés</th>
                <th>Lister</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for service in services %}
            <tr>
                <td>{{service.Libelle}}</td>
                <td>{{service.employes | length}}</td>
                <td><a href="{{ path('Lister',{'id': service.id ,'parService' : service.Libelle}) }}"><i class="fas fa-clipboard-list fontAwsModif"></i></a></td>
                <td><a href="{{ path('Modif_service',{'id': service.id }) }}"><i class="fas fa-user-edit fontAwsModif"></i></a></td>
                <td><i class="fas fa-trash-alt fontAwsModif" {% if service.employes | length > 0 %}onclick="supprimer({{service.id}})" {% else %} onclick="impSup()"{% endif %}></i></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %} 
{% block javascripts %}
    <script>
        function supprimer(id) {
            if (confirm("Comfirmer la suppression ?")) {
                document.location.href = "/sonatel/" + id + "/Service/Suprimer";
            }
        }
        function impSup(){
            alert("Impossible de supprimer ce service car il contient déja des employés");
        }
    </script>
{% endblock %}